@page
@model RazorPagesMovie.Pages.account_articles

@{
    Layout = null;
    ViewData["Title"] = "Артикли";
}

<nav class="account-nav">
    <div class="account-nav-link-container">
        <div class="account-nav-link" onclick="settings()">Настройки</div>
    </div>
    <div class="account-nav-link-container">
        <div class="account-nav-link account-active" onclick="myArticles()">Избранные статьи</div>
    </div>
    <div class="account-nav-link-container">
        <div class="account-nav-link" onclick="myDiscussions()">Мои обсуждения</div>
    </div>
</nav>

<div class="account-articles">

    @if (Model.selectedArticles.Count > 0)
    {
        @foreach (var article in Model.selectedArticles)
        {
            <a href="/article?open=@article.Id" class="post-item" style="background-image: url(@article.Image);" keywords="@article.Keywords">
                <div class="post-container">
                    <div class="post-data">@article.DateCreate.ToString("d")</div>
                    <div class="post-headline">@article.Name</div>
                    <div class="post-keyword">@article.Keywords[0]</div>
                </div>
            </a>
        }
    }
    else
    {
        <div class="login-message">
            <div>Вы еще не добавляли статьи в избранное. Это надо срочно <a href="/index">исправить</a>!</div>
        </div>
    }

</div>