@page
@model RazorPagesMovie.Pages.discussion

@{
    Layout = "Shared/_Layout";
    ViewData["Title"] = "Главная";
}

<main id="main">

    <div class="main-block-discussion">

        <div class="discussion-div">
            <div class="discussion-headline">@discussion.Discussion.Name</div>
            <div class="discussion-text">
                @discussion.Discussion.Description
            </div>
            <div class="discussion-info">@discussion.Discussion.PersonCreateName, @discussion.Discussion.TimeCreate.ToString("d")</div>
        </div>

        <div class="comments-div">

            <form action="" class="comment-form">
                <textarea placeholder="Комментарий"></textarea>
                <button class="add-comment" type="submit">Добавить комментарий</button>
            </form>
            
            <div class="all-comments">
                @foreach (var e in discussion.Comments)
                {
                    <div class="comment">
                        <div class="comment-text">@e.MessageText</div>
                        <div class="comment-info">@e.PersonName, @e.MessageDate.ToString("f")</div>
                    </div>
                }
            </div>

        </div>

    </div>

</main>
