@page
@model IndexModel
@{
    Layout = "Shared/_Layout";
    ViewData["Title"] = "Главная";
}

                <main id="main">
        
                    <div class="filter-block">
                        <div class="filter-button">Фильтр</div>
                        <div class="filter-hidden ">
                            <div class="filter-datablock">
                                <div class="filter-headline">Дата:</div>
                                <div class="filter-datalist">
                                    <div class="filter-data"><input type="radio" id="r1" name="data" checked><label for="r1">Сначала новые</label></div>
                                    <div class="filter-data"><input type="radio" id="r2" name="data"><label for="r2">Сначала старые</label></div>
                                </div>  
                            </div>
                            <div class="filter-keywordsblock">
                                <div class="filter-headline">Ключевые слова:</div> 
                                <input id="search-keyword" type="text" placeholder="Найти">
                                <div class="filter-keywordlist">
                                    @for (var i = 0; i < Model.Keywords.Count; i++)
                                    {
                                        <div class="filter-keyword">
                                            <input type="checkbox" id="@(i + 1)" value="@Model.Keywords[i]">
                                            <label for="@(i + 1)">@Model.Keywords[i]</label>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>         
                    </div>
        
                    <div class="main-block">
                        @foreach (var article in Model.Articles)
                        {
                            <a href="/article?open=@article.Id" class="post-item" style="background-image: url(@article.Image);" keywords="@article.KeywordsToString()">
                                <div class="post-container">
                                    <div class="post-data">@article.DateCreate.ToString("d")</div>
                                    <div class="post-headline">@article.Name</div>
                                    <div class="post-keyword">@article.Keywords[0]</div>
                                </div>
                            </a>
                        }

                    </div>
                </main>
        
                
<footer id="footer">
            <div class="footer-block">
                <div class="up">
                    <div class="rollover"></div>
                </div>
            </div>      
        </footer>

@section Header
{
    <script src="/js/filter-hidden.js"></script>
}

@section Footer
{
    <script src="/js/back-to-top.js"></script>
}