@page
@model RazorPagesMovie.Pages.library

@{
    Layout = "Shared/_Layout";
    ViewData["Title"] = "Главная";
}

<main id="main">

            <div class="main-block-library">

                <div class="search-book">
                    <div class="search-label">Поиск: </div>
                    <select name="" class="filter">
                        <option value="disabled" disabled>Выберите фильтр</option>
                        <option value="Название">Название</option>
                        <option value="Автор">Автор</option>
                    </select>
                    <input type="text" id="search-text" placeholder="Введите запрос">
                </div>

                <div class="notation">
                    Для сортировки нажмите на заголовок столбца
                </div>

                <table class="table">
                    <thead class="thead-orange">
                      <tr>
                        <th type="number">#</th>
                        <th type="text">Название</th>
                        <th type="text">Авторы</th>
                        <th type="number">Год издания</th>
                        <th class="table-links">Ссылки</th>
                      </tr>
                    </thead>
                    <tbody>
                    @for(var i = 0; i < Model.books.Count; i++)
                    {
                        <tr>
                            <th scope="row">@(i+1)</th>
                            <td>@Model.books[i].Name</td>
                            <td>@Model.books[i].Author</td>
                            <td>@Model.books[i].WriteDate.ToString("d")</td>
                            <td>
                                <a class="book" href="@Model.books[i].Url">Открыть</a>
                                <a class="book" href="@Model.books[i].Url" download>Скачать</a>
                            </td>
                        </tr>
                    }
                    </tbody>
                  </table>

            </div>

        </main>
<script src="/js/library.js"></script>
@section Header
{
    
}

@section Footer
{
    
}